# Project lwcomcon_full Test Results Summary

- Prod/Con run uninterrupted for 16 hours with no virtual or resident memory increase.
Con time: over 550 minutes CPU time.  Prod: over 12 seconds CPU time.
